extends layout
block content
  form(action='/welcome')
    p
      input(type='text' name='username' placeholder='Username')
    p  
      input(type='text' name='password' placeholder='Password')
    p
      input(type='submit') 
