extends ../views/layout
block content
  form(action='/auth/login' method='post')
    p
      input(type='text' name='username' placeholder='Username')
    p  
      input(type='text' name='password' placeholder='Password')
    p
      input(type='submit') 
