doctype html
html(lang="ko")
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title Focus
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
  body
    style.
      #container{
        padding-top:5px;
      }
      #aaa{
        padding-bottom:5px;
      }
      #bbb{
        padding-bottom:5px;
      }
    .container(id="container")
      .row
        .col-md-8
        .col-md-1(id='aaa')
            a(href='/auth/login') Login
        .col-md-1(id='bbb')
            a(href='/auth/register') Register
        .col-md-8
      .row
        header.jumbotron.text-center
          h1
            a(href='/') Focus at Music
      .row
        nav.col-md-12
          .btn-group(role='group', aria-label='menu')
            button.btn.btn-default(type='button')
              a(href='/list') Music List
            button.btn.btn-default(type='button')
              a(href='/add') Music Add
      .row
        article.col-md-12
          p
            block content


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
