extends layout
block content
  form(action='welcome')
    p
      input(type='text' placeholder='ID' name='id')
    p
      input(type='text' placeholder='Password' name='password') 
    p
      input(type='submit')
